*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
../.idea/misc.xml
../build.gradle.kts
../dataconnect/connector/connector.yaml
../dataconnect/connector/mutations.gql
../dataconnect/connector/queries.gql
../dataconnect/dataconnect.yaml
../dataconnect/schema/schema.gql
../firebase-debug.log
../firestore-debug.log
../gradle.properties
../gradle/libs.versions.toml
