<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY"/>

        <!-- Osmdroid Configuration -->
        <meta-data
            android:name="osmdroid.basePath"
            android:value="osmdroid" />
        <meta-data
            android:name="osmdroid.cachePath"
            android:value="osmdroid/cache" />

        <!-- Firebase Messaging Service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Activities -->
        <activity
            android:name=".Views.HomeView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateEventActivity" />
<!--        <activity android:name=".WaitinglistActivity" />-->
<!--        <activity android:name=".AttendingActivity" />-->
        <activity android:name=".OrganizerProfileActivity" />
        <activity android:name=".ManageNotificationGroupsActivity" />
        <activity android:name=".GroupEntrantsActivity" />
        <activity android:name=".Views.ManageFacilityView" />
        <activity android:name=".Views.AddFacilityView" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".AdminProfileActivity" />
        <activity android:name=".BrowseUsersActivity" />
        <activity android:name=".BrowseFacilitiesActivity" />
        <activity android:name=".BrowseEventsActivity" />
        <activity android:name=".EventSignupActivity" />
        <activity android:name=".BrowseImagesActivity"/>

    </application>
</manifest>